{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block header %}
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Quiz</h1>
    </div>
</header>
{% endblock %}

{% block body %}
<div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg mb-5">
    <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
        <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
            <a href="{{ path('app_quiz_index') }}" class="flex border border-gray-200 items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5 mr-2" viewBox="0 0 24 24"><path fill="currentColor" d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11z"/></svg>
            Back to list
            </a>
        </div>
        <div class="flex items-end w-full space-x-3 md:w-auto">
            <a href="{{ path('app_quiz_edit', {'id': quiz.id}) }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Modifier</a>
            {{ include('quiz/_delete_form.html.twig') }}
        </div>
    </div>
</div>


<div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ quiz.title }}</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400"># {{ quiz.id }}</p>
</div>


{% endblock %}
